body
{
	background-color: #eeeeff;
	font-family: Georgia;
}

@font-face
{
	font-family: Pompadur;
	src: url(Pompadur.ttf);
}

header
{
	background-color: #ffffff;
	height: 100px; 
	padding: 15px;
	
	font-family: Pompadur;
}

article
{
	padding: 15px; 
	margin: 15px;
	font-family: Segoe Print;
}

article.code
{
	background-color: #ffccaa;
}

article.interests
{
	background-color: #ffff00;
}

article.formula
{
	background-color: #ccaa99;
}

article.animal
{
	background-color: #53f5c1;
}

article.myquote
{
	background-color: #f45e67;
}

section
{
	width: 50%;
}

section.right
{
	float: right;
}

section.left
{
	float: left;
}

div
{
	font-family: Times New Roman;
}

footer
{
	font-family: Monotype Corsiva;
}